*{padding:0; margin:0;}

/*///////////////////////////////////////NAV BAR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

row {
  max-width: 1140px;
  margin:0 auto ;

}
.main-nav {
  width:300px;
  background-color:#007ad0;
  font-family: 'Lato', sans-serif;
  color:#fff;
}


.main-nav li a {

  display:block;
  padding: 20px 0 20px 80px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color:#fff;
  font-size: 15px;
  letter-spacing:.1em;

}
.main-nav li a:hover{

  background-color:#e5e5e5;
  transition:transform 0.4s, opacity 0.4s;
  transition: background-color 0.4s;
  color:#000;

}

.main-nav-ul ul {
  display:none;
  font-size: 15px;


}



.main-nav-ul ul a {

  font-size: 80%;
  border-bottom: 1px solid #eee;
  padding-left: 125px;
  background-color:#f2f2f2;
  color:#000;
}

.main-nav-ul li.click ul {display: block;}

.main-nav .sub-arrow:after {
  content:'\203A';
  float:right;
  margin-right: 20px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  font-size:25px;
  margin-top: 10px;

}

.main-nav li.click .sub-arrow:after{
  content:'\2039';

}

/*////////////////////////////////////// ICON \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


.ion-ios-paper,
.ion-ios-briefcase,
.ion-ios-compose,
.ion-ios-person,
.ion-ios-gear,
.ion-ios-color-wand,
.ion-ios-football,
.ion-ios-home{

font-size:25px;
padding-top:20px;
margin-left: 30px;
display:inline;
float:left;
margin-top: -6px;
color:#fff;
}




.report,.home,
.activity,.projects,.companies,
.user,.admin{
list-style: none;

}

.projects:link,
.projects:visited
{
  color:#848383;
  border: 0;
  text-decoration: none;

}

.projects:active,
.projects:hover
{
  color:#fff;

  -webkit-transition: color 0.5s;
  transition: color 0.5s;


}
.projects:hover {
  color:#fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
